#!/bin/bash

# define variables
ROLE_NAME=<%= @data[:role_name] %>

# install dependencies
# ansible-galaxy install galaxyuser.role_name

# create role symnlink
ln -s $(pwd) /usr/share/ansible/roles/$ROLE_NAME

# run test playbooks
ansible-playbook -vvvv -i 'localhost,' -c local $(pwd)/tests/main.yml
